html {
    color: rgb(244, 117, 0);
    font-family: cursive;
    box-sizing: border-box;
    margin: 0;
}






h1,
h2 {
    color: rgb(244, 117, 0);
    font-family: cursive;
}

h1,
h2 {
    color: rgb(0, 88, 255, 0.59);
    font-family: cursive;
    background-color: coral;
}

body {

    /*    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5 )), url("../images/aaa.jpg");*/

    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5)), url("../images/aaa.jpg");



    background size: cover;
    background-position: center;
    min-height: 100vh;



}







main {
    background-color: lavenderblush
}



#spaghettistyle {

    font-size: 2.5em;

    border: 7px solid orange;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}


.spaghettistyle {

    font-size: 3.5em;

    border: 5px solid orange;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}


.secondarystyle {

    font-size: 2.5em;

    font-family: sans-serif
}

.menu {

    font-size: 1.5em;
}



img:hover {
    opacity: 1;
    transform: scale(1.05);

}


.newstyle {
    font-size: 1em
}





h1,
h2 {
    color: ghostwhite;
    font-size: 25px
}

ul,
ol {
    color: darkslateblue
}

#special {
    font-family: sans-serif
}

.pics {
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
    margin: 0px 20px 20px 20px;
}

.container {


    flex-wrap: nowrap;
    flex-direction: row;

    width: 50vw;
    padding: .5em;
    display: flex;

}

.item {

    margin: 0.5em;
    width: 100%;
    background-color: whitesmoke;

}


.container2 {
    flex-wrap: nowrap;
    flex-direction: row;

    width: 50vw;
    padding: .5em;
    display: flex;


}

@media screen and (max-width: 60rem) {
    .container2 {
        flex-direction: column;
    }
}

nav a {
    font-family: monospace
}

a:hover {
    color: orange
}






@media screen and (max-width: 50rem) {

    header,
    main,
    footer {
        flex-direction: column;
    }


}

header nav ul {
    display: flex;
    justify-content: flex-end;
}